<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,732}</string>
                <key>spriteSourceSize</key>
                <string>{488,732}</string>
                <key>textureRect</key>
                <string>{{0,0},{488,732}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,732}</string>
                <key>spriteSourceSize</key>
                <string>{488,732}</string>
                <key>textureRect</key>
                <string>{{488,0},{488,732}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,732}</string>
                <key>spriteSourceSize</key>
                <string>{488,732}</string>
                <key>textureRect</key>
                <string>{{976,0},{488,732}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,732}</string>
                <key>spriteSourceSize</key>
                <string>{488,732}</string>
                <key>textureRect</key>
                <string>{{0,732},{488,732}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,732}</string>
                <key>spriteSourceSize</key>
                <string>{488,732}</string>
                <key>textureRect</key>
                <string>{{488,732},{488,732}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player-run.png</string>
            <key>size</key>
            <string>{1464,1464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a101984bf82eebfd2530f4aeb3122002:cd48dd4bbc8bb37357792cc533629e8c:e36939b012ada34caf3aefff6fd22ff6$</string>
            <key>textureFileName</key>
            <string>player-run.png</string>
        </dict>
    </dict>
</plist>
