<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>damage_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,732}</string>
                <key>spriteSourceSize</key>
                <string>{488,732}</string>
                <key>textureRect</key>
                <string>{{0,0},{488,732}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damage_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,732}</string>
                <key>spriteSourceSize</key>
                <string>{488,732}</string>
                <key>textureRect</key>
                <string>{{488,0},{488,732}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damage_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,732}</string>
                <key>spriteSourceSize</key>
                <string>{488,732}</string>
                <key>textureRect</key>
                <string>{{976,0},{488,732}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damage_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,732}</string>
                <key>spriteSourceSize</key>
                <string>{488,732}</string>
                <key>textureRect</key>
                <string>{{0,732},{488,732}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damage_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,732}</string>
                <key>spriteSourceSize</key>
                <string>{488,732}</string>
                <key>textureRect</key>
                <string>{{488,732},{488,732}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player-hit.png</string>
            <key>size</key>
            <string>{1464,1464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35d75e0a630ef34234df7cdc46bb1a05:ce4755f76829bfaeae61d5f943d17f6b:0e74bba7479bd684e8772366c5c206bf$</string>
            <key>textureFileName</key>
            <string>player-hit.png</string>
        </dict>
    </dict>
</plist>
